modules/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.synctex(busy)
*.fls
*.fdb_latexmk
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.xdv
*.auxlock
*.figlist
*.makefile

*~
*.swp
.vscode/
.idea/

.Rhistory
.RData
.Rproj.user/
.Ruserdata
